
@{
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ПОМИЛКА!</title>
</head>
<body>
    <hgroup>
        <h1>Під час виконання запиту сталася помилка!</h1>
        <h2>Превірте правильність запиту та його відповідність правилам форуму.</h2>
    </hgroup>
</body>
</html>


