@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        input[type=submit] {
            background-color: black;
            border: outset;
            color: white;
            padding-top: 35px;
            padding-bottom: 35px;
            padding-right: 25px;
            text-decoration: none;
            margin-left: 400px;
            cursor: grab;
            border-radius: 25px;
        }
    </style>
</head>
<body>
    <div class="row" style="padding-top: 30px">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h1>Для видалення питання натисніть кнопку</h1>
            <h3>(Заздалегідь переконайтеся про відсутність відповідей !)</h3>
        </div>
    </div>

    <form method="post" style="padding-top: 80px">
        <input type="submit" class="col-lg-12" value="  ВИДАЛИТИ ПИТАННЯ" />
    </form>
</body>
</html>